.coins {
    margin: auto;
    width: 60%;
    padding: 10px;
    color: black
    text-align: Center
}

body {
  background-color: grey;
  color: black;
  font-family: Verdana;
  text-align: Center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

h1 {
    font-size:  250%;
}